@{
    ViewData["Title"] = localizer["Purcahse"];
    ViewData["Caption"] = localizer["Manage Purcahse here"];
}
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a href="/transaction/purchase/OnGetCreateOrEdit" class="btn bg-success">
            <i class="fa fa-plus-square"></i> Create
        </a>
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>

    <script>
        var from = '@ViewBag.from'
        $(document).ready(function () {

            $("#purchaseListTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            if (from == 'create') {
                $('#viewAll').load('/Transaction/Purchase/LoadAll?from=create');
            }
            else if (from == 'edit') {
                $('#viewAll').load('/Transaction/Purchase/LoadAll?from=edit');
            }
            else if (from == 'delete') {
                $('#viewAll').load('/Transaction/Purchase/LoadAll?from=delete');
            }
            else {
                $('#viewAll').load('/Transaction/Purchase/LoadAll');
            }
            //$('#viewAll').load('/Transaction/Purchase/LoadAll');

        }
    </script>
}
