@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using PhramacyApp.Areas.Dashboard.Models
@model IEnumerable<DashboardViewModel>
<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="card card-default">
                <div class="card-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Expiry Product List
                </div>
                <!-- /.panel-heading -->
                <div class="card-body">
                    <table id="myDataTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Medicine ID</th>
                                <th>Medicine Name</th>
                                <th>Batch No</th>
                                <th>Expiry Date</th>
                                <th>Buying Price</th>
                                <th>Selling Price </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>


<script src="~/js/toastr.min.js"></script>
<link href="~/css/toastr.min.css" rel="stylesheet" />
<script>
        //var from = '@ViewBag.from'
    $(document).ready(function () {
        $('#myDataTable').DataTable();
                //console.log(from);
                //if (from == 'edit') {
                //    toastr.options.timeOut = 5000;
                //    toastr.options.positionClass = 'toast-bottom-right';
                //    toastr.success('System successfully updated');
                //    //toastr.success('Update Successfully',{ timeOut: 5000 })
                //}
                //else if (from == 'create') {
                //    toastr.options.timeOut = 5000;
                //    toastr.options.positionClass = 'toast-bottom-right';
                //    toastr.success('System successfully saved');
                //    //toastr.success('Update Successfully',{ timeOut: 5000 })
                //}
                //else if (from == 'delete') {
                //    toastr.options.timeOut = 5000;
                //    toastr.options.positionClass = 'toast-bottom-right';
                //    toastr.remove('System successfully deleted');
                //    //toastr.success('Update Successfully',{ timeOut: 5000 })
                //}

                //$("#purchaseListTable").DataTable();

                //View Details Button
                    //$(".viewDetails").click(function () {

                    //    $(".modal-body").html('');

                    //    $.ajax({
                    //        type: 'GET',
                    //        url: '@Url.Action("GetDetails", "Dashboard")',
                    //        data: { type: $(this).attr("data-type") },
                    //        success: function (response) {
                    //            $(".modal-body").html(response);
                    //            $("#exampleModal").modal('show');
                    //        },
                    //        error: function () {
                    //            alert("Something wrong");
                    //        }

                    //    });

                    //});

                    MedicineList();

                function MedicineList() {
                    //GET DATA FROM DATABASE TO FILL DATATABLE
                    var oTable = $("#myDataTable").DataTable({

                        "ajax": {
                            "url": "/Home/GetDetails",
                            "type": "GET",
                            "dataType": "json"
                        },

                        "columns": [
                            //{
                            //    "data": "CustomerImage", "width": "50px", "render": function (data) {
                            //        return '<img class="rounded img-thumbnail" style="width:60px; height:58px;" src="/Images/Customers/' + data + '"/>';
                            //    }
                            //},
                            { "data": "Medicine_Id", "autowidth": true },
                            { "data": "Medicine_Name", "autowidth": true },
                            { "data": "Batch_No", "autowidth": true },
                            { "data": "Quantity", "autowidth": true },
                            { "data": "Buying_Price", "autowidth": true },
                            { "data": "Selling_Price", "autowidth": true },
                            { "data": "Expairy_Date", "autowidth": true }
                        ]
                    });
                }

            });


</script>
